.btn_filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
}

.finish_btn:hover, .pending_btn:hover {
    background-color: rgba(200, 204, 197, 0.645);
    transition: .5s ease-in-out;
}

.finish_btn, .pending_btn {
    width: 10rem;
    border-radius: 20px;
    border: solid 1px gray;
    height: 40px;
    cursor: pointer;
    background-color: white;
}

.search {
    width: 40%;
    border-radius: 20px;
    border: solid 1px gray;
    margin-left: 50px;
    text-align: left;
    padding-left: 30px;
}

.btn_filter button {
    display: flex;
    align-items: center;
}

.btn_filter button img {
    margin-left: 30px;
    margin-right: 5px;
}