.container_ul_li {
    font-size: 20px;
}

.ul_list {
    width: 100%;
}

.task {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 50px;
    margin-bottom: 5px;
}

.task img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: rgba(192, 194, 189, 0.143);
    text-decoration: line-through;
}