.container_edit_input {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.input_edit {
    width: 85%;
    height: 60px;
    padding-left: 20px;
    font-size: 1vw;
    border-radius: 15px;
    margin-right: 4px;
    border: solid 1px gray;
    outline: none;
    box-shadow: 2px 2px 3px gray;
}

.btn_add_task_edit {
    width: 70px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    border: solid 1px gray;
    justify-content: center;
    box-shadow: 1px 1px 3px gray;
}

.btn_add_task_edit:hover {
    box-shadow: inset 2px 2px 3px gray;
    transition: .3s ease-in-out;
}

.btn_add_task_edit img {
    width: 65px;
}

.container_cancel {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.container_cancel button {
    width: 150px;
    height: 50px;
    border:  solid 1px gray;
    border-radius: 10px;
    font-size: 1vw;
    background-color: white;
    box-shadow: 1px 1px 3px gray;
}

.container_cancel button:hover {
    box-shadow: inset 2px 2px 3px gray;
    transition: .3s ease-in-out;
}

.hide {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .input_edit {
        width: 80%;
        height: 40px;
        font-size: 4vw;
    }

    .btn_add_task_edit {
        width: 40px;
        height: 40px;
    }

    .btn_add_task_edit img {
        width: 40px;
    }

    .container_cancel button {
        width: 30%;
        height: 30px;
        font-size: 3vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .input_edit {
        width: 85%;
        height: 40px;
        font-size: 3vw;
    }

    .btn_add_task_edit {
        width: 40px;
        height: 40px;
    }

    .btn_add_task_edit img {
        width: 40px;
    }

    .container_cancel button {
        width: 30%;
        height: 30px;
        font-size: 3vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .input_edit {
        width: 90%;
        height: 40px;
        font-size: 2vw;
    }

    .btn_add_task_edit {
        width: 45px;
        height: 40px;
    }

    .btn_add_task_edit img {
        width: 40px;
    }

    .container_cancel button {
        width: 30%;
        height: 40px;
        font-size: 2vw;
    }
}