.container_btn_input {
    width: 90%;
    height: 60px;
    display: flex;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.input_message {
    width: 100%;
    height: 80%;
    padding-left: 20px;
    font-size: 1vw;
    border-radius: 15px;
    margin-right: 5px;
    border: solid 1px gray;
    box-shadow: 2px 2px 3px gray;
    outline: none;
}

.btn_add_task {
    width: 60px;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    border: solid 1px gray;
    box-shadow: 1px 1px 3px gray;
    justify-content: center;
}

.btn_add_task:hover {
    box-shadow: inset 2px 2px 3px gray;
    transition: .3s ease-in-out;
}

.btn_add_task img {
    width: 45px;
}

.hide {
    display: none;
}

