@media screen and (max-width: 320px) {

    .container {
        width: 100%;
        padding: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .day_month, .week {
        font-size: 6vw;
    }
    
    .year {
        font-size: 5vw;
    }

    .progressbar, .progress {
        height: 25px;
    }

    .filter_search {
        padding: 1rem;
        margin-bottom: 20px;
    }

    .finish_btn, .pending_btn, .all_btn {
        width: 80%;
        margin-bottom: 10px;
        font-size: 5vw;
    }

    .search {
        height: 80%;
        padding-left: 20px;
        font-size: 5vw;

    }

    .btn_search {
        width: 25px;
        height: 80%;
    }

    .btn_search img {
        width: 15px;
        margin-left: 10px;
    }

    .container_btn_input {
        height: 40px;
        margin-bottom: 10px;
    }

    .input_message {
        height: 40px;
        font-size: 5vw;
    }

    .btn_add_task {
        width: 40px;
        height: 40px;
    }

    .btn_add_task img {
        width: 40px;
    }

    .todo {
        height: 40px;
        padding: 2px;
        margin-bottom: 5px;
    }
    
    .todo h3 {
        margin-left: 10px;
        font-size: 5vw;
    }
    
    .todo img {
        width: 4vw;
    }

    .todo button {
        width: 30px;
        height: 25px;
        margin-right: 5px;
    }

}
