* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100vh;
}

body {
    width: 100%;
    display: flex;
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    font-size: 30px;
    outline: none;
}

.container {
    background-color: white;
    width: 50rem;
    border-radius: 5px;
    padding: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 8px 2px gray ;
}

img {
    width: 18px;
    pointer-events: none;
}

.hide {
    display: none;
}